* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    min-width: 1100px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.nav-items {
    width: max-content;
    background: #000000;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4% 5.27%;
}

.nav-items .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}

.course-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 4.6%;
}

.course-wrapper .header {
    background-color: #F5F5F7;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
}

.course-wrapper .header .text-block {
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    margin: auto;
    width: 35%;
}

.course-wrapper .header .text-block .h1-text {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;
    color: #000000;
}

.course-wrapper .header .text-block .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.course-wrapper .header .image {
    width: 30%;
    height: 100%;
    margin-right: 13%;
    margin-left: 17%;
    margin-top: -5%;
}

.course-wrapper .my-course {
    display: flex;
    flex-direction: row;
    padding-top: 2.8%;
    justify-content: space-between;
}

.course-wrapper .my-course .block1 {
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 20px;
}

.course-wrapper .my-course .text-block .title {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.course-wrapper .my-course .text-block .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.course-wrapper .my-course .ellipse-block .ellipse {
    position: relative;
}

.course-wrapper .my-course .ellipse-block .ellipse .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    position: absolute;
    left: 8px;
    bottom: 16px;
    width: 100%;
}

.course-wrapper .my-course .btn-block .continue-btn {
    width: 120px;
    height: 40px;
    background: #000000;
    border-radius: 8px;
    outline: none;
}

.course-wrapper .my-course .btn-block .continue-btn:hover {
    border: 1px solid grey;
}

.course-wrapper .my-course .btn-block .continue-btn .btn-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.course-wrapper .my-course .arrows-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.course-wrapper .my-course .arrows-block .circle-image:hover {
    border: 2px solid darkgray;
}

.course-wrapper .my-course .arrows-block .circle-image {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 5px;
}

.course-wrapper .my-course .arrows-block .arrow-line {
    width: 10px;
    border: 1px solid black;
}

.course-wrapper .my-course .arrows-block .left-arrow-block {
    position: relative;
}

.course-wrapper .my-course .arrows-block .left-arrow-block .left-line {
    position: absolute;
    top: 23px;
    left: 20px;
}

.course-wrapper .my-course .arrows-block .left-arrow-block .left-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    position: absolute;
    top: 20px;
    left: 20px;
}

.course-wrapper .my-course .arrows-block .right-arrow-block {
    position: relative;
}

.course-wrapper .my-course .arrows-block .right-arrow-block .right-line {
    position: absolute;
    top: 23px;
    right: 17px;
}

.course-wrapper .my-course .arrows-block .right-arrow-block .right-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 25px;
}

.course-wrapper .courses {
    padding-top: 5%;
}

.course-wrapper .courses .title {
    display: flex;
    padding-bottom: 3.3%;
}

.course-wrapper .courses .title .header-courses {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}

.course-wrapper .courses .nav-items-block {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.course-wrapper .courses .nav-items-block .item {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.3;
}

.course-wrapper .courses .nav-items-block .item:first-child {
    opacity: 1;
}

.courses .main-items {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}

.courses .main-items .main-item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F5F5F7;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 1.7%
}

.courses .main-items .main-item .image {
    width: 10%;
}

.courses .main-items .main-item .name {
    width: 30%;
}

.courses .main-items .main-item .name .title {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.courses .main-items .main-item .name .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.courses .main-items .main-item .time {
    width: 20%;
}

.courses .main-items .main-item .time .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.courses .main-items .main-item .time .text::before {
    content: url(../img/my-course-img/clock.png);
    margin-right: 5px;
}

.courses .main-items .main-item .rate {
    width: 20%;
}

.courses .main-items .main-item .rate .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.courses .main-items .main-item .rate .text::before {
    content: url(../img/my-course-img/Group.png);
    margin-right: 5px;
}

.courses .main-items .view-btn {
    width: 120px;
    height: 40px;
    background: #000000;
    border-radius: 8px;
    outline: none;
}

.courses .main-items .view-btn:hover {
    border: 1px solid grey;
}

.courses .main-items .view-btn .btn-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.stats-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 65px;
    padding-top: 4.6%;
}

.stats-wrapper .search-wrapper {
    display: flex;
    padding-bottom: 2.2%;
    position: relative;
}

.stats-wrapper .search-wrapper .search-form {
    width: 67.42%;
    padding-right: 8.2%;
    position: relative;
}

.stats-wrapper .search-wrapper .search-form::before {
    content: url(../img/stats-img/Search.png);
    position: absolute;
    left: 10px;
    top: 10px;
}

.stats-wrapper .search-wrapper .search-form .search-input {
    background: #F5F5F7;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding-left: 35px;
    border: none;
    outline: none;
}

.stats-wrapper .search-wrapper .image1 {
    width: 16.5%;
    display: flex;
}

.stats-wrapper .search-wrapper .notification-icon {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #F45B5B;
    border-radius: 50%;
    left: 403px;
    top: 2px;
    position: absolute;
}

.stats-wrapper .search-wrapper .notification-icon-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    left: 409px;
    top: -1px;
}

.stats-wrapper .search-wrapper .image2 {
    position: relative;
    margin-right: 10px;
}

.stats-wrapper .search-wrapper .image2 .arrow-down {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 45px;
}

.stats-wrapper .info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.stats-wrapper .info-wrapper .info-block {
    width: 50%;
    border-radius: 14px;
    background-color: #F5F5F7;
    display: flex;
    margin-right: 4.5%;
}

.stats-wrapper .info-wrapper .info-block:last-child {
    margin-right: 0;
}

.stats-wrapper .info-wrapper .info-block .number-block .number {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 102px;
    color: #000000;
    padding-left: 30px;
}

.stats-wrapper .info-wrapper .info-block .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 15px;
}

.stats-wrapper .statistic-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5.6%;
}

.stats-wrapper .statistic-wrapper .statistic-title {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 3.3%;
}

.stats-wrapper .statistic-wrapper .statistic-menu {
    width: 100%;
    display: flex;
    padding-bottom: 4.4%;
}

.stats-wrapper .statistic-wrapper .statistic-menu .menu-block {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.stats-wrapper .statistic-wrapper .statistic-menu .menu-block .menu-item {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.stats-wrapper .statistic-wrapper .statistic-menu .menu-block .menu-item:last-child {
    opacity: 0.3;
}

.stats-wrapper .statistic-wrapper .statistic-menu .select {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.stats-wrapper .statistic-wrapper .statistic-menu .select .weekly-select {
    background: #F5F5F7;
    border-radius: 8px;
    width: 88px;
    height: 32px;
    border: none;
    padding-left: 10px;
}

.stats-wrapper .statistic-wrapper .statistic-menu .select .weekly-select .weekly-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.stats-wrapper .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15.5%;
    padding: 30px;
    background-color: #F5F5F7;
    border-radius: 14px;
}

.stats-wrapper .footer-wrapper .text-block {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.stats-wrapper .footer-wrapper .text-block .title {
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 15px;
}

.stats-wrapper .footer-wrapper .text-block .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 25px;
}

.stats-wrapper .footer-wrapper .text-block .premium-btn {
    width: 120px;
    height: 40px;
    background: #000000;
    border-radius: 8px;
}

.stats-wrapper .footer-wrapper .text-block .premium-btn .btn-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.stats-wrapper .footer-wrapper .image-block {
    display: flex;
    flex-direction: column;
}